<section class="d-flex flex-column my-3">
    <div class="card mb-3 shadow-sm" style="max-width: 850px;">
        <h3 class="card-header p-3">Album</h3>
        <div class="row g-0">
            <div class="col-auto">
                <div class="card-body">
                    <h5 class="card-title">{{ album.title }}</h5>
                    <ul>
                        <li>Id : {{ album.id }}</li>
                        <li>UserId : {{ album.userId }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-flex flex-column my-3">
    <div class="card">
        <h3 class="card-header p-3">Photos</h3>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let photo of photos" class="col">
                    <div class="card w-100">
                        <img [src]="photo.thumbnailUrl" [alt]="photo.title">
                        <div class="card-body">
                            <h5 class="card-title"><a [href]="'photos/'+photo.id">{{ photo.title }}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>