<section class="d-flex flex-column justify-content-">
    <div class="card shadow-sm  my-3" style="max-width: 850px;">
        <h3 class="card-header">Photo</h3>
        <div class="row g-0">
            <div class="col-md-2">
                <img [src]="photo.thumbnailUrl" class="img-fluid rounded-start" [alt]="photo.title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.title }}</h5>
                    <ul>
                        <li>Id : {{ photo.id }}</li>
                        <li>AlbumId : {{ photo.albumId }}</li>
                        <li>Thumbnail : <a [href]="photo.thumbnailUrl">{{ photo.thumbnailUrl }}</a></li>
                        <li>URL : <a [href]="photo.url">{{ photo.url }}</a></li>
                    </ul>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>